<p style="color: green"><%= notice %></p>

<h1 style = "padding-top: 5px;">Posts</h1>
    <div id="posts">
      <div class="card" style="width: 18rem; margin-top: 25px;">
        <div class="card-body">
        <% @posts.each do |post| %>
        <h5 class="card-title"><%= render post %></h5>
        <p class = "btn btn-dark" style = "width: 16rem;">
          <%= link_to "Show this post", post %>
        </p><hr>
        <% end %>
    </div>
  </div>
</div>
<p class = "btn btn-dark" style = "width: 16rem; margin-left: 1rem; margin-top: 1rem;"><%= link_to "New post", new_post_path %></p>